.list-cams-livestream {
    color: #d4d4d4;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        padding: 12px;
        flex-basis: 45px;
    }

    .body-playing,
    .body-waiting {
        padding: 20px;
        // height: 40%;
        // flex-basis: 360px;
    }

    .body-playing {
        background: #1e1e1e;
    }

    .title-body {
        padding-bottom: 15px;
    }
}
