.hanet-ant-modal {
    .ant-modal-footer {
        padding: 8px 16px 16px 16px;
    }
}

.hanet-ant-modal-monitor-config {
    .ant-modal-content {
        padding: 0;
        .ant-modal-header {
            padding: 16px 16px 8px 16px;
        }
        .ant-modal-footer {
            border-top: 1px solid rgb(66, 66, 66);
        }
    }
}

.hanet-manual-cam-config-modal-ant {
    .ant-modal-content {
        padding: 0;
        .ant-modal-header {
            padding: 16px 16px 0 16px;
        }
    }
}
